<div class="react-page-title">
  <%= react_component("PageTitle", { title: "コンテンツ一覧" }) %>
</div>
<div class="container">
  <div class="sidebar border">
    <h2 class="fw-bold">カテゴリ</h2>
    <h2 class="fw-bold">一覧</h2>
    <hr>
    <div class="category-short">
      <ul class="list-unstyled">
        <% @categories.each do |category| %>
          <% if category.contents.present? %>
          <% category_id = "category_#{category.id}" %>
          <li><a href="#category_<%= category.id %>" class="text-decoration-none"><%= category.title %></a></li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <hr>
    <div class="search">
      <%= search_form_for @q, url: search_contents_path do |f| %>
        <%= f.label :title_or_description_cont_any, 'キーワードを入力してください', class: "fw-bold" %>
        <%= f.search_field :title_or_description_cont_any, class: "form-control" %>
        <br>
        <%= f.submit '検索', class: "btn btn-primary mt-2" %>
      <% end %>
    </div>
  </div>
  <div class = "content-wrapper">
    <div class = "content-index-container">
      <% @categories.each do |category| %>
        <% if category.contents.present? %>
          <div class = "content-index" id="category_<%= category.id %>">
            <div class = "category-title">
              <%= category.title %>
            </div>
            <div class = "category-description">
              <%= category.description %>
            </div>
            <div class="category-content">
              <% category.contents.each do |content| %>
                <div class = "content-mainWrapper">
                  <div class = "content-wrapper">
                    <div class = "content-header">
                      <div class = "content-title">
                        <%= link_to content.title, content_path(content) %>
                      </div>
                      <div class = "content-description">
                        <%= content.description %>
                      </div>
                        <% if admin_signed_in? %>
                        <div class="content-update">
                          <%= link_to "編集", edit_content_path(content) %>
                          <%= link_to "削除", content, method: :delete, data: { confirm: "本当に削除しますか?" } %>
                        </div>
                        <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  $('ul.list-unstyled li a').click(function(e) {
    e.preventDefault(); 
    var target = $(this).attr('href');
    $('html, body').animate({
      scrollTop: $(target).offset().top
    }, 20);
  });
});
</script>
