<div class = "content-create">
  <div class="react-page-title">
    <%= react_component("PageTitle", { title: "新規コンテンツの作成" }) %>
  </div>
  <hr>
  <%= form_with(model: @content, local: true) do |form| %>
    <div class="content-field">
      <%= form.label :title %>
      <%= form.text_field :title %>
      <%= render 'shared/error_messages', object: @content, attribute: :title %>
    </div>
    <div class="content-field">
      <%= form.label :category_id %>
      <%= form.collection_select :category_id, Category.where(project_id: @project_id), :id, :title, { prompt: '選択してください' } %>
      <p>該当するカテゴリーがない場合、<%= link_to 'こちら', categories_path, id: 'category-link'%>から登録してください。</p>
      <%= render 'shared/error_messages', object: @content, attribute: :category_id %>
    </div>
    <div class="content-field">
      <%= form.label :description %>
      <%= form.text_field :description %>
      <%= render 'shared/error_messages', object: @content, attribute: :description %>
    </div>
    <div class = "content-field">
      <%= form.label :video%>
      <%= form.file_field :video, accept: 'video/*'%>
    </div>
    <div class = "content-field">
      <%= form.label :youtube_url%>
      <%= form.text_field :youtube_url %>
    </div>    
    <div class="content-field">
      <%= form.label :text %>
      <%= form.rich_text_area :text %>
      <%= render 'shared/error_messages', object: @content, attribute: :text %>
    </div>
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  <hr>
  <%= link_to "戻る", contents_path%>
</div>

