<div class="content-wrapper">
  <div class="content-container">
    <div class="content-image">
    </div>
    <div class="content-detail">
      <%= react_component("PageTitle", { title: "コンテンツ詳細" }) %>
      <div class="content-update">
      <% if admin_signed_in? %>
        <%= link_to "編集", edit_content_path(@content) %>
        <%= link_to "削除", @content, method: :delete, data: { confirm: "本当に削除しますか?" } %>
      <% end %>
      </div>
      <h2 class="content-title"><%= @content.title %></h2>
      <p class="content-description"><%= @content.description %></p>
      <hr>
      <% if @content.video.present? %>
      <div class = "content-video">
        <%= video_tag(@content.video.to_s, :size => "400x300", :controls => true)  %>
      </div>
      <% end %>
      <% if @content.youtube_url.present? %>
      <div class="content-youtube">
        <iframe src="https://www.youtube.com/embed/<%= @content.youtube_url.last(11) %>" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" width="560"></iframe>
      </div>
      <% end %>
      <div class="content-content">
        <%= @content.text %>
      </div>
    </div>
  </div>
</div>
