<div class = "welcome-board">
  <div class = "main-image">
    <%= image_tag "main-page.png"%>
  </div>
  <div class = "login-contents">
    <% if admin_signed_in? %>
      <ul class = "content-lists">
      <li class = "content"><%= link_to "研修一覧",contents_path%></li>
      <li class = "content"><%= link_to "研修作成", new_content_path%></li>
      </ul>
    <% elsif user_signed_in?  %>
      <ul class = "content-lists">
      <li class = "content"><%= link_to "研修一覧",contents_path%></li>
      </ul>
    <% end %>
  </div>
  <%= render 'home/about'%>
</div>
