<div class="welcome-board">
  <div class="top">
    <div class="top-container">
      <div class="top-container-header">
        <h1><span class="marker_yellow">研修メーカーを使って</span></h1>
        <h1><span class="marker_yellow">楽に資料を作ろう！</span></h1>
      </div>
      <p>研修メーカーは、誰でも簡単に研修資料を作成、閲覧することができます。</p>
      <p>文章、画像、動画に対応しているので</p>
      <p>簡単に資料を作成、閲覧できます。</p>
      <% if !admin_signed_in? && !user_signed_in? %>
        <div class="d-grid gap-2 col-6 mx-auto">
          <%= link_to "管理者でログイン", new_admin_session_path, class: "btn btn-warning", type: "button" %>
          <%= link_to "利用者でログイン", new_user_session_path, class: "btn btn-warning", type: "button" %>
          <%= link_to "管理者でゲストログイン", admins_guest_sign_in_path, method: :post, class: "btn btn-outline-info", type: "button" %>
          <%= link_to "利用者でゲストログイン", users_guest_sign_in_path, method: :post, class: "btn btn-outline-info", type: "button" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="welcome-header">
    <h1><span class="marker_yellow">３つの時間を無くしませんか？</span></h1>
  </div>
  <%= render 'home/card'%>
    <div class="login-contents">
      <% if admin_signed_in? %>
        <div class="btn-group-vertical d-flex justify-content-center">
          <%= link_to "研修を見る", contents_path, class: "btn btn-warning" %>
          <%= link_to "研修を作成する", new_content_path, class: "btn btn-warning" %>
        </div>
      <% elsif user_signed_in? %>
        <div class="btn-group-vertical d-flex justify-content-center">
          <%= link_to "研修を見る", contents_path, class: "btn btn-primary mt-3" %>
        </div>
      <% end %>
    </div>
  <%= render 'home/about'%>
</div>
