<div class="box">
  <div class="box-inner">
  <%= react_component("PageTitle", { title: "パスワード再設定(管理者)" }) %>
    <%= form_with scope: :admin, url: admin_password_path, local: true do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
      <div class="actions">
        <%= f.submit "再設定メールを送信", class: "btn btn-primary" %>
      </div>
    <% end %>
    <div class = "actions-link">
      <p>ログインは<%= link_to "こちら", new_session_path(resource_name), class: "devise-link" %></p>
      <p>新期会員登録は<%= link_to "こちら", new_registration_path(resource_name), class: "devise-link" %></p>
    </div>
  </div>
</div>
