<div class="box">
  <div class="box-inner">
    <h2>パスワード再設定</h2><p>
    <h2>(マネージャーアカウント専用)</h2>
    <%= form_with scope: :admin, url: admin_password_path, local: true do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
      <div class="actions">
        <%= f.submit "再設定メールを送信", class: "btn btn-primary" %>
      </div>
    <% end %>
    <%= render "users/shared/links" %>
  </div>
</div>
