<!DOCTYPE html>
<html>
  <head>
    <title>研修メーカー</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <header>
      <div id="logo">研修メーカー</div>
      <nav>
        <% if user_signed_in? %>
          <ul>
            <li><%= current_user.email%></li>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Profile", user_path(current_user) %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          </ul>
        <% else %>
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "admin", new_admin_registration_path %></li>
          </ul>
        <% end %>
      </nav>
    </header>
    <div class="flash-notifications">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <div class="container">
    <main>
      <%= yield %>
      <!-- メインコンテンツ -->
    </main>
    </div>
    
    <footer>
      <p>お問い合わせは
      <%= link_to "こちら", new_contact_path %>
      </p>
      <hr>
      <p>@2023 Genki Sato</p>
    </footer>
  </body>
</html>
