<div class="box">
  <div class="box-inner">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <h2>アカウント情報の編集</h2>

      <div class="box-email">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="box-email">
          <p>アカウント確認用のメールが送信されています。変更内容が有効になるには、メール内のリンクをクリックして確認してください。</p>
        </div>
      <% end %>

      <div class="box-admin">
        <%= f.label :admin, "マネージャー設定" %><br />
        <%= f.check_box :admin %>
      </div>

      <div class="box-admin-id">
        <%= f.label :adminId, "マネジメントID" %><br />
        <%= f.text_field :adminId, autocomplete: "adminId" %>
      </div>

      <div class="box-password">
        <%= f.label :password, "パスワード" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <span class="hint">(パスワードの変更が不要な場合は、空欄のままにしてください)</span>
      </div>

      <div class="box-confirm">
        <%= f.label :password_confirmation, "パスワード（確認）" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "変更を保存する" %>
      </div>
    <% end %>

    <div class="login">
      <%= link_to "アカウントを削除する", registration_path(resource_name), method: :delete, data: { confirm: "本当にアカウントを削除しますか？" } %>
    </div>
  </div>
</div>
